@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap'); /* Import the font Oswald */
* {
	font-family: 'Oswald', sans-serif;
}
body {
	background-color: orange;
}
h1 {
	color: blue;
}
#conversion {
	color: white;
	background-color: red;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px 15%;
	box-shadow: 4px 4px black;
}
input {
	border: none;
	width: 50px;
}
select {
	border: none;
	background-color: Sienna;
	color: white;
}
button {
	display: flex;
	margin-top: 10px;
	border: none;
	box-shadow: 4px 4px ;
}
button:hover {
	background-color: blue;
	color: white;
}
/* Styles for the hidden Div once the result is showed.*/
.newStyleHTML {
	padding: 10px 10px;
	color: blue;
	font-weight: bold;
}